nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: var(--primary-colour);
    border-bottom: 4px solid var(--secondary-colour);
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px 0 50px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    display: block;
    color: white;
}

.group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown {
    position: absolute;
    top: 80px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-colour);
    max-width: 300px;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.15s ease-out, visibility 0.15s ease-out;
}

.dropdown.active {
    opacity: 1;
    visibility: visible;
}

.dropdown > div {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.15s ease-out;
}

.dropdown > div:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.link {
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    color: var(--primary-text-colour);  
    font-size: 18px;
    font-weight: 600;
}

.description {
    color: rgb(235, 235, 235);
    font-size: 12px;
    margin: 0;
}

.dropdown-icon {
    font-size: 7px;
    rotate: 180deg;
    background-color: rgba(82, 44, 100, 0.3);
    border-radius: 5px;
    padding: 5px;
    color: white;
    transition: rotate 0.15s ease-out;
}

.dropdown-icon.active {
    rotate: 0deg;
}

.bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: var(--primary-colour);
}

.bar div {
    height: 100%;
    background-color: rgb(81, 51, 95);
    width: 50%;
}

.uparrow {
    position: fixed;
    bottom: 20px;
    right: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-colour);
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.uparrow:hover {
    cursor: pointer;
}