@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Roboto Serif';
}

:root {
    --primary-colour: rgb(115, 76, 134);
    --secondary-colour: rgb(97, 63, 114);
    --accent-colour: rgb(1,1,1);
    --background-colour: rgb(255, 255, 255);
    --primary-text-colour: rgb(255, 255, 255);
    --secondary-text-colour: rgb(239, 239, 239);

    --h1-size: 60px;
    --h2-size: 45px;
    --h3-size: 25px;
    --h4-size: 20px;
    --p-size: 16px;
}

body {
    background-color: var(--background-colour);
    padding-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

h1 {
    color: rgb(100, 100, 100);
    font-size: var(--h1-size);
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;
}

h2 {
    color: rgb(100, 100, 100);
    font-size: var(--h2-size);
    margin-bottom: 10px;
}

h3 {
    color: rgb(100, 100, 100);
    margin-bottom: 10px;
    font-size: var(--h3-size);
}

.hyperlink {
    text-decoration: none;
    color: var(--primary-colour);
    font-weight: 600;
    border-bottom: var(--primary-colour) solid 2px;
    transition: color .1s ease-in-out, border-bottom .1s ease-in-out;
}

.hyperlink:hover {
    color: rgb(99, 72, 112);
    border-bottom: rgb(99, 72, 112) solid 2px;
}

p {
    color: rgb(90, 89, 90);
    font-size: var(--p-size);
    margin-bottom: 15px;
    text-align: left;
}