.section-1 {
    height: 500px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

.section-1 p {
    color: rgb(90, 89, 90);
    font-size: var(--h4-size);
    text-align: center;
    z-index: 1;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 10px;
}

.buttons > a {
    border-radius: 0;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 10px 20px;
    font-weight: 600;
    color: white;
    font-size: var(--h4-size);
    background-color: var(--primary-colour);
    cursor: pointer;
    transition: border, color, background-color .1s ease-in-out
}

.buttons > a:hover {
    color: var(--primary-colour);
    background-color: white;
    border: 2px solid var(--primary-colour);
}

.socials {
    margin-top: 10px;
}

.socials > i {
    color: rgb(206, 206, 206);
    transition: color .1s ease-out;
    font-size: 20px;
}

.socials > i:hover {
    color: rgb(155, 155, 155);
    cursor: pointer;
}