.intro {
    margin: 0 auto 50px auto;
    width: 800px;
}

.showcase {
    margin: 0 auto 0 auto;
    width: 800px;
}

.showcase h2 {
    text-align: center;
}

.showcase img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}